<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mibaldipabjimcas.otakucookmvp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application.OtakuCookApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Activities.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Activities.LoginActivity">
        </activity>
        <activity android:name=".ui.Activities.MainActivity">

        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ff1c2189b92aa493cd60d97569bcd6baf9715047" />

        <activity android:name=".ui.Activities.RecipeDescriptionActivity" />
        <activity android:name=".ui.Activities.RecipeTaskListActivity"></activity>
        <activity android:name=".ui.Activities.IngredientListActivity"/>
        <receiver android:name=".Services.Broadcast.MyAlarmReceiver"/>
        <activity
            android:name=".features.Preferences.PreferencesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>